:root{
  --mainBlue:#5243D4;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#E6FF00;
  --mainGreen: #94E0E5;
  --mainRed: #FF0606;

};

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainRed) !important;
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding:20px !important;
  
}

.text-blue{
  color:var(--mainRed);
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}

.cart-icon{
  cursor: pointer;
  font-size: 1.2 rem;
  background: var(--mainGreen) !important;
  color:var(--mainYellow) !important;
}

.text-title{
  color: var(--mainRed)!important;

};